<form class="register-form" action="/login" method='post'>
	<h2>Log in!</h2>
  <div class="email-form">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="email@email.com" name='email'>
  </div>
  <div class="password-form">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" name='password'>
  </div>
  <input class="submit-button" type='submit'>
</form>