<form class="register-form" action="/users" method='post'>

  <h2>Create an account!</h2>
  <div class="email-form">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="email@email.com" name='user[email]'>
  </div>
  <div class="password-form">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Password" name='user[password]'>
  </div>

  <input class="submit-button" type="submit">
</form>