<form class="register-form" action="/restaurants" method='post'>
	<h2>Create a Restaurant</h2>
  <div class="rest-form">
    <label for="restaurant[name]">Name</label>
    <input type="text" placeholder="Ex. Moe's Sloppy Joes" name='restaurant[name]'>
  </div>
  <div class="rest-form">
    <label for="restaurant[address]">Cuisine Style</label>
    <input type="text"  placeholder="Ex. American Bistro" name='restaurant[cuisine]'>
  </div>
  <div class="rest-form">
    <label for="restaurant[address]">Address</label>
    <input type="text" placeholder="Ex. 1234 Drive Blvd." name='restaurant[address]'>
  </div>
  <div class="rest-form">
    <label for="restaurant[city]">City</label>
    <input type="text" placeholder="ex. New York" name='restaurant[city]'>
  </div>
  <div class="rest-form">
    <label for="restaurant[state]">State</label>
    <input type="text" placeholder="ex. NY" name='restaurant[state]'>
  </div>
  <div class="rest-form">
    <label for="restaurant[zip]">Zipcode</label>
    <input type="text" placeholder="ex. 12345" name='restaurant[zip]'>
  </div>
  <input class="submit-button" type='submit'>
</form>